<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibGuides Review</title>
    <%- include ('partials/header-includes') %>
    <script>
        function buildStatusFilter() {
            var items=[], options=[];

//Iterate all td's in third column
$('#myTable tbody tr td:nth-child(3)').each( function(){
   //add item to array
   items.push( $(this).text() );       
});
console.log('initial items: ' + items.length);

items = [...new Set(items.sort())];
//restrict array to unique items
// var items = $.unique( items );
// var items = [new Set(...items)].flat();
console.log('unique items: ' + items.length);

//iterate unique array and build array of select options
$.each( items, function(i, item){
    let itemTag = item.replace(/ /g, '-');
    options.push('<input type="checkbox" id="statuses-'+ itemTag +'" name="' + itemTag + '" value="' + item + '" checked> <label for="statuses-'+ itemTag +'">' + item + '</label>');
})

//finally empty the select and append the items from the array
$('#selectType').empty().append( options.join() );
console.log(options);
        }
        $.fn.dataTable.ext.search.push(
    function( settings, searchData, index, rowData, counter ) {
      var selectedStatuses = [];
      $('#selectType input:checked').each(function() {
          selectedStatuses.push($(this).val());
      });
      if (selectedStatuses.length > 0) {
        // Check if the row's type is in the selected statuses
        if (selectedStatuses.includes(rowData[2])) {
          return true; // Include this row in the results
        }
    }
      
        return false;
    }
);
        $(document).ready( function () {
            buildStatusFilter();
            $('#myTable').DataTable();
            $('#selectType input').on('change', function() {
            //     var selectedStatuses = [];
            //     $('#selectType input:checked').each(function() {
            //         selectedStatuses.push($(this).val());
            //     });
            //     if (selectedStatuses.length > 0) {
            //         $.fn.dataTable.ext.search.push(
            //             function(settings, searchData, index, rowData, counter) {
            //                 return selectedStatuses.includes(rowData[2]);
            //             }
            //         );
            //     } else {
            //         $.fn.dataTable.ext.search.pop();
            //     }
                $('#myTable').DataTable().draw();
            });
        } );
    </script>
</head>
<body class="container">
    <div id="selectTypeBox" class="mb-3">
        <h2 class="h3">Filter by Type</h2>
        <form id="selectType"></form>
    </div>
    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Type</th>
                <th>Status</th>
                <th>Keywords</th>
                <th># Pages</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% summary.forEach(function(document) { %>
                <tr>
                    <td><a href="<%= document.url %>" target="_blank"><%= document.name %></a></td>
                    <td><%= document.owner_name %></td>
                    <td><%= document.type_label %></td>
                    <td><%= document.status_label %></td>
                    <td><%= JSON.stringify(document.terms).replaceAll('","', '", "') %></td>
                    <td><%= document.page_urls.length %></td>
                    <td><a href="/inspect/<%= document.id %>"><i class="bi bi-eye"></i></a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>