<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibGuides Review</title>
    <%- include ('partials/header-includes') %>
    <script src="/js/filters.js"></script>
    <script>
        $(document).ready(function () {
            buildStatusFilter();
            $('#myTable').DataTable();
            $('#selectType input').on('change', function () {
                $('#myTable').DataTable().draw();
            });
        });
    </script>
</head>
<body class="container">
    <div id="selectTypeBox" class="mb-3">
        <h2 class="h3">Filter by Type</h2>
        <form id="selectType"></form>
    </div>
    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Owner</th>
                <th>Type</th>
                <th>Status</th>
                <th>Keywords</th>
                <th># Pages</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% summary.forEach(function(document) { %>
                <tr>
                    <td><a href="<%= document.url %>" target="_blank"><%= document.name %></a></td>
                    <td><%= document.owner_name %></td>
                    <td><%= document.type_label %></td>
                    <td><%= document.status_label %></td>
                    <td><%= JSON.stringify(document.terms).replaceAll('","', '", "') %></td>
                    <td><%= document.page_urls.length %></td>
                    <td><a href="/inspect/<%= document.id %>"><i class="bi bi-eye"></i></a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>