<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LibGuides Review</title>
    <%- include ('partials/header-includes') %>
    <script src="/js/filters.js"></script>
    <script>
        $(document).ready(function () {

            buildStatusFilter();
            let types = new URLSearchParams(window.location.search).get('types') || [];
            $('.inspect-link').each(function () {
                //append current URL query string to the inspect link on load
                let currentHref = $(this).attr('href');
                const baseUrl = window.location.origin;
                // Create a URL object
                let url = new URL(currentHref, baseUrl);
                if (types.length > 0) {
                    // Add the 'types' parameter to the URL
                    url.searchParams.set('types', types);
                    $(this).attr('href', url.toString());
                }            
            });
            if (types.length > 0) {
                $('#selectType input[type="checkbox"]').prop('checked', false);
                types = types.split(',');
                types.forEach(function(type) {
                    $(`input[type="checkbox"][value="${type}"]`).prop('checked', true);
                });
            }
            $('#myTable').DataTable();

            $('#selectType input').on('change', function () {
                $('#myTable').DataTable().draw();
                let checkedTypes = [];
                    $('input[type="checkbox"]').each(function () {
                    if ($(this).is(':checked')) {
                        checkedTypes.push($(this).val());
                    }
                });
                $('.inspect-link').each(function () {              
                    let currentHref = $(this).attr('href');
                    const baseUrl = window.location.origin;
                    // console.log(checkedTypes)
                    // // Create a URL object
                    let url = new URL(currentHref, baseUrl);
                    if (checkedTypes.length > 0) {
                        // Add the 'types' parameter to the URL
                        url.searchParams.set('types', checkedTypes.join(','));
                        $(this).attr('href', url.toString());
                    } else {
                        // If no types are checked, remove the 'types' parameter
                        url.searchParams.delete('types');
                        $(this).attr('href', url.toString());
                    }
                });
     
                });
                    
            });
    </script>
</head>
<body class="container">
    <h1>LibGuides Review</h1>
    <div>
        <a href="/report" download><button class="btn btn-success mt-4 mb-2"><i class="bi bi-cloud-download"></i> Download Full Report CSV</button></a>
    </div>
    <div id="selectTypeBox" class="mb-3">
        <h2 class="h4">Filter by Type</h2>
        <form id="selectType"></form>
    </div>
    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <!-- <th>Inspect</th> -->
                <th>Title</th>
                <th>Owner</th>
                <th>Type</th>
                <th>Status</th>
                <th>Keywords</th>
                <th>Guide Link</th>
                
            </tr>
        </thead>
        <tbody>
            <% summary.forEach(function(document) { %>
                <tr>
                    <!-- <td><a href="/inspect/<%= document.id %>" class="btn btn-primary inspect-link"><i class="bi bi-eye"></i></a></td> -->
                    <td><a href="/inspect/<%= document.id %>" class="inspect-link"><%= document.name %></a></td>
                    <td><%= document.owner_name %></td>
                    <td><%= document.type_label %></td>
                    <td><%= document.status_label %></td>
                    <td><%= JSON.stringify(document.terms).replaceAll('","', '", "') %></td>
                    <td><a href="<%= document.url %>" target="_blank"><i class="bi bi-link-45deg"></i></a></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <%- include('partials/footer') -%>
</body>
</html>