<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inspect LibGuide: <%= item.name %></title>
    <%- include ('partials/header-includes') %>

</head>
<body class="container">
    <main>
    <h1>Inspect LibGuide: <%= item.name %></h1>
    <% const typesParams = new URLSearchParams(); %>
    <% typesParams.set('types',types); %>
    <% let typeString; %>
    <% if (typesParams.toString() === 'types=null') { %>
        <% typeString = ''; %>
    <% } else { %>
        <% typeString = typesParams.toString(); %>
    <% } %>
    <%- include ('partials/back-button', { typeString }) %>
    <div class="mt-4">
    <form id="kwic-chars-form" method="get">
        <% if (types != undefined) { %>
        <input type="hidden" name="types" value="<%= types %>">
        <% } %>  
        <p><strong>Owner:</strong> <%= item.owner_name %></p>
        <p><strong>Keywords:</strong> <%= JSON.stringify(item.terms) %></p>
        <p><strong># Total Pages:</strong> <%= item.page_urls.length %></p>

        <p class="input-group">
            <span class="input-group-text"><strong>Characters Around Keywords</strong> </span>
            <input type="text" name="kwicChars" size="3" value="<%= kwicChars %>">
            <input type="submit" value="Change" class="btn btn-sm btn-secondary">
        </p>
    </form>
</div>

    <h2 class="h3">Pages</h2>
        <% results.forEach(function(result) { %>
            <% if (result.kwic.length === 0) { %>
               <% return; %>
            <% } %>
            <h3 class="h4"><a href="<%= result.url %>" target="_blank"><%= result.url %></a></h3>
            <ul>
                <% result.kwic.forEach(function(kwics) { %>
                    <% kwics.forEach(function(kwic) { %>
                    <li>
                        <%= kwic.pre %><b><%= kwic.keyword %></b><%= kwic.post %>
                    </li>
                    <% }); %>
                <% }); %>
            </ul>
        <% }); %>
    </main>
        <%- include('partials/footer') -%>

</body>
</html>